{% extents 'layout.html' %}

{% block content %}

<h2>Overall completion progress</h2>

<p> Insert graph of over completion percentage vs time </p>

<h2>Details of each project</h2>

<ul>
  <li>Graph of time by weather band & instrument, vs total allocated weather by weather band and instrument</li>
  <li>Quality of observations</li>
  <li>Any questionable observations remaining to be resolved</li>
  <li> Link to faults for project and show number of faults</li>
  <li> Link to omp page for project </li>
</ul>

