{% extends 'layout.html' %}

{% block content %}
<div class="panel">
<img src={{ url_for('completion_chart')}} />

<p>
<span class="TODO">predictions</span>
</p>

</div>

{% for p in LP.PROJECTS %}
  <div class="panel">
    <h2>{{ p.name }}: {{ p.projectid}}<br>{{ p.info }}<br>{{ projdict[p.projectid].allocation }} hrs</h2>
    <div class="warning-parent">
    {% if projdict[p.projectid].number_observations['questionable'] > 0 %}
    <div class="warning">
      {{projdict[p.projectid].number_observations['questionable'] }}
      QUESTIONABLE observations waiting to be resolved!
      <br>
      Please resolve then recharge time & reset MSBs as appropriate.
    </div>
    {% endif %}
    {% if projdict[p.projectid].unconfirmed> 0 %}
    <div class="warning">
      {{' %.2F '%  projdict[p.projectid].unconfirmed| float}} hrs unconfirmed for this project.
    </div>
    {% endif %}
    </div>

    <div class="panel-small">
      <h4> Allocation</h4>
      <table>
        <tr>
          {% for inst in p.allocdict.keys() %}
          <th colspan="2">{{ inst }}</th>
          {% endfor %}
        </tr>
        {% for band in p.allocdict| allocationbandset %}
        <tr>
          <th>Band {{band}}</th>
          {% for inst in p.allocdict.keys() %}
          <td> {{p.allocdict[inst].get(band, '') }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
        <tr class="blank_row"/>
        <tr>
          <th> Total </th>
          {% for inst in p.allocdict.keys() %}
          <td> {{p.allocdict[inst].values() | sum}} hrs </td>
          {% endfor %}
        </tr>
      </table>
    </div>


    <div id="msbs" class="panel-small">
      <h4> MSBS Currently Available </h4>
      <table>
        <tr><th>Tau Range</th><th>Unique<br>MSBSs</th><th>Total<br>repeats</th><th>Time<br>(hrs)</th></tr>
        {% for msb in projdict[p.projectid].msbs %}
        <tr>
          <th>{{ '%0.2f' %  msb.taumin|float}}-{{ '%0.2f' % msb.taumax |float }}</th>
          <td>{{msb.uniqmsbs}}</td>
          <td>{{msb.totalmsbs}}</td>
          <td>{{ '%0.2f'%(msb.totaltime/(60.0*60.0)) | float }}</td>
        </tr>
        {% endfor %}
        <tr class="blank_row"/>
        <tr><th>Total</th>
          <td>{{ projdict[p.projectid].msbs | sum(attribute='uniqmsbs') }}</td>
          <td>{{ projdict[p.projectid].msbs | sum(attribute='totalmsbs') }}</td>
          <td>{{ '%0.2f'% (projdict[p.projectid].msbs | sum(attribute='totaltime')/(60.0*60.0)) | float}}</td>
        </tr>
      </table>
    </div>
    <div id="summary" class="panel-small">
      <h4> Completion summary </h4>
      <table>
        <tr><th>Completion</th>
          <td>
            {{ '%.1f' % projdict[p.projectid].percentcomplete | float }} %
            ({{ '%.2f' % projdict[p.projectid].charged | float }} /
            {{ projdict[p.projectid].allocation }} hrs )
          </td>
        </tr>
        <tr><th>Observations</th>
          <td>
            <span class="good">{{ projdict[p.projectid].number_observations['good'] }} G</span> /
            <span class="questionable">{{ projdict[p.projectid].number_observations['questionable'] }} Q</span> /
            <span class="bad">{{ projdict[p.projectid].number_observations['bad'] }} B</span> /
            <span class="rejected">{{ projdict[p.projectid].number_observations['rejected'] }} R</span> /
            <span class="junk">{{ projdict[p.projectid].number_observations['junk'] }} J</span> /
          </td>
        </tr>
        <tr><th>Better-than-requested</th><td><span class="TODO"></span></td></tr>
        <tr><th>Worse-than-requested</th><td><span class="TODO"/></td></tr>
        <tr><th>Time on sky</th>
          <td>
            <span class="good">{{ '%.2f' % (projdict[p.projectid].time_observations['good']/
              (60.0*60.0))|float }} hrs G</span> /
            <span class="questionable">{{ '%.2f' % (projdict[p.projectid].time_observations['questionable']/
              (60.0*60.0)) | float }} hrs Q </span>
        </td></tr>
        <tr><th> Unchargable time (B/J/R)</th>
          <td>{{ '%.2f' % (projdict[p.projectid].time_observations['uncharged']/(60.0*60.0))|float }}</td>
        </tr>

      </table>
    </div>
    <div class="panel-small">
      <h4> Links </h4>
      <p><a href="http://omp.eao.hawaii.edu/cgi-bin/projecthome.pl?urlprojid={{ p.projectid }}">OMP Project Home</a></p>
      <p><a href="http://omp.eao.hawaii.edu/cgi-bin/fbfault.pl?urlprojid={{ p.projectid }}"> {{ projdict[p.projectid].faults.numopen }} Open/{{ projdict[p.projectid].faults.total }} Faults</a></p>
      <p><a href="http://kamaka:5000/job?project={{ p.projectid }}&mode=JSAQA&number=1000"> Nightly Reductions</a></p>
    </div>

    {% if projdict[p.projectid].summary |length > 0 %}
    <div class="panel-small">
      <h4> Weather band completion </h4>
      <img src={{url_for('project_chart', projectid=p.projectid )}} />
    </div>
    {% endif %}
  </div>


{% endfor %}
{% endblock %}
